<a href="https://colab.research.google.com/github/Esther-EA/SGA_Assignments/blob/master/project_int_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [3]:
%cd /content/drive/MyDrive/intermediate_1.3

/content/drive/MyDrive/intermediate_1.3

In [4]:
import pandas as pd
import matplotlib 
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

**Use else block to display a message done after successful execution of for loop in python**

In [6]:
for a in range(10):
    print(a)
else:
    print("Done!")

0
1
2
3
4
5
6
7
8
9
Done!

**Write a program to display all prime numbers within a range**

In [9]:
for b in range(0, 16):
    if b > 1: 
        for z in range(2, b):
            if b % z == 0:
              break
        else:
            print(b)

2
3
5
7
11
13

**Use a loop to display elements from a given list present at odd index positions**

In [10]:
c = [10,11,14,16,13,19]
for y, x in enumerate(c): 
    if y % 2 != 0:
        print(y, x)

1 11
3 16
5 19

**Calculate the cube of all numbers from 1 to a given number**

In [11]:
for d in range(1, 15):
    print(d ** 3)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744