# Querying Database Using Python
Introduction
This project answers two questions about courses on the Udemy e-learning Platform using SQL, Postgres and Python. The Udemy courses dataset were import to postgres from Jupyter notebook Using the psycopg2 and sqlalchemy libraries. The dataset can be gotten from this link https://drive.google.com/file/d/1l7pH8T9wRV9ZNDXeAMqxQUlycxJWYzkC/view?usp=sharing

The dataset has the following columns:

course_id - Course identifier number

course_title - Title of course

url - Link to the course

is_paid - True/False (free or not)

price - The price of the course

num_subscribers - The number of subscribers for the course

num_reviews - The number of reviews for the course

num_lectures - The number of lectures the course has

levels - How many levels the course has

content_duration - The number of hours the course covered

published_timestamp - Date the course was published

subject - The discipline covered by the course

In [2]:
import pandas as pd 
import psycopg2 as ps
# import psycopg2.extras
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# create a connection 
engine= create_engine("postgresql+psycopg2://postgres:datafreak@localhost:5432/project", pool_recycle =-1)

In [3]:
query= "SELECT * FROM udemy_courses"

In [4]:
data= pd.read_sql_query(query, engine)

In [ ]:
data.head()

# Question 1:                                               
Write a query for paid courses, showing the course with the highest number of subscribers per month

In [21]:
# write a query for paid courses, showing the course with the highest number of subscribers per month
query_2 = """SELECT max_sub, title, DATE_PART('month', date) AS months FROM
            (SELECT MAX(num_subscribers) AS max_sub, course_title AS title, published_timestamp AS date
                FROM udemy_courses WHERE is_paid = True
                    GROUP BY title, date
                    ORDER BY max_sub DESC
                    LIMIT 5) AS t1"""

pd.read_sql_query(query_2, engine)

# Question 2:
write a query for paid courses, showing the course with the highest sales per month

In [23]:
# write a query for paid courses, showing the course with the highest number of subscribers per month
query_3 = """SELECT max_sales, title, DATE_PART('month', date) AS months FROM
            (SELECT MAX(num_reviews) AS max_sales, course_title AS title, published_timestamp AS date
                FROM udemy_courses WHERE is_paid = True
                    GROUP BY title, date
                    ORDER BY max_sales DESC
                    LIMIT 5) AS t1"""

In [24]:
pd.read_sql_query(query_3, engine)

   max_sales                                              title  months
0      27445                         The Web Developer Bootcamp    11.0
1      22412              The Complete Web Developer Course 2.0     3.0
2      19649  Angular 4 (formerly Angular 2) - The Complete ...     2.0
3      16976          JavaScript: Understanding the Weird Parts     3.0
4      15117                            Modern React with Redux    12.0